body {
  font-family: "Montserrat";
  background: url(desk1.jpg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#navb {
  background-color: rgba(0, 0, 0, 0.85);
}
#logo {
  margin-right: 25px;
}
#social {
  position: relative;
  text-align: center;
  margin: auto;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 155px;
  color: #95c9d6;
  opacity: 0.95;
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
  transition: 0.15s;
  outline: none;
}
#social:hover {
  text-shadow: 0px 0px 23px #000, 0px 0px 25px #000, 0px 0px 28px #000,
    0px 0px 45px #000, 0px 0px 45px #000, 0px 0px 35px #000;
  opacity: 1;
  transition: 0.15s;
}
#social1 {
  position: relative;
  display: inline-block;
  margin: auto;
  font-size: 75px;
  opacity: 0.95;
}
#social1 p {
  font-size: 18px;
  margin: auto;
  margin-top: -15px;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 25px;
  width: 100%;
  padding: 5px;
  color: #fff;
}

#social2 {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 45px;
  opacity: 0.95;
  width: 133px;
  height: 133px;
  background-color: #95c9d6;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 22px;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}
#social2:hover {
  opacity: 1;
}
#social2 p {
  font-size: 18px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  border-radius: 25px;
  width: 300px;
  margin-top: 32px;
  text-align: center;
  margin-left: -80px;
  padding: 5px;
}

#social3 {
  position: relative;
  text-align: center;
  margin: auto;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 55px;
  color: #95c9d6;
  opacity: 0.95;
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
  transition: 0.15s;
  outline: none;
}
#social3:hover {
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000, 0px 0px 23px #000,
    0px 0px 25px #000, 0px 0px 28px #000, 0px 0px 45px #000, 0px 0px 45px #000,
    0px 0px 35px #000;
  opacity: 1;
  transition: 0.15s;
}
.social3 {
  margin-top: 130px;
}
#location {
  font-size: 35px;
  text-shadow: 0px 0px 23px #000, 0px 0px 25px #000, 0px 0px 28px #000,
    0px 0px 35px #000, 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
  margin: auto;
  margin-top: 50px;
}
#location p {
  font-size: 18px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  width: 200px;
  padding: 5px;
  color: #fff;
}
.fa-globe-africa {
  color: #95c9d6;
  transition: 0.3s;
}
.fa-globe-africa:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.container {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
}
.navbar-brand {
  font-size: 20px;
  color: #95c9d6;
}
#container1 {
  position: relative;
  margin: auto;
  width: 1150px;
  height: 90%;
  text-align: center;
}
#container2 {
  position: relative;
  margin: auto;
  width: 1150px;
  height: 90%;
  text-align: justify;
  font-size: 22px;
  padding: 20px 85px 50px 85px;
  font-weight: bold;
}
#container2 h1 {
  font-weight: bold;
  padding-bottom: 35px;
  text-align: center;
  font-size: 55px;
}
#container2 h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5px;
}
#container3 {
  position: relative;
  margin: auto;
  width: 1150px;
  height: 90%;
  text-align: justify;
  font-size: 20px;
  padding: 20px 85px 40px 85px;
  font-weight: bold;
}
#container3 h1 {
  font-weight: bold;
  padding-bottom: 35px;
  color: whitesmoke;
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;

  text-align: center;
}
#container4 {
  position: relative;
  margin: auto;
  width: 1150px;
  height: 90%;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 20px;
}
#container4 h1 {
  font-weight: bold;
  padding-bottom: 55px;
  text-align: center;
  font-size: 55px;
}

#container5 {
  position: relative;
  margin: auto;
  width: 1150px;
  height: 90%;
  text-align: center;
  color: #95c9d6;
  padding-top: 20px;
}
#container5 h1 {
  font-weight: bold;
  padding-bottom: 55px;
  color: whitesmoke;
  text-align: center;
  font-size: 55px;
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
  letter-spacing: 1px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-primary {
  background-color: #95c9d6 !important;
}

#portfolio,
#about,
#contact,
#page-top,
#skills {
  height: 200%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}
#page-top {
  padding-top: 120px;
  overflow: auto;
}

#footer {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#ime {
  text-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 8px #000, 0px 0px 12px #000, 0px 0px 14px #000, 0px 0px 25px #000,
    0px 0px 35px #000, 0px 0px 35px #000, 0px 0px 35px #000, 0px 0px 35px #000;
  color: whitesmoke;
  padding-top: 140px;
  word-spacing: 5px;
}
#ime h1 {
  font-size: 55px;
  font-weight: 700;
}
#ime h2 {
  font-size: 36px;
}
#prof-pic {
  display: inline;
  width: 400px;
  position: relative;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin-right: 25px;
}
#img {
  transition: 0.3s;
}
#img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#work {
  position: relative;
  margin: 20px 20px 70px 20px;
  display: inline-block;
  padding: 5px;
  outline: none;
}

#work p {
  position: relative;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#work a {
  text-decoration: none;
}

#cont {
  color: #212529;
  transition: 0.2s;
}
#cont:hover {
  color: whitesmoke;
  text-decoration: none;
  text-shadow: 0px 0px 3px #000, 0px 0px 7px #000;
  transition: 0.2s;
}
.nav-link {
  color: #95c9d6;
}
.nav-link:hover,
.navbar-brand:hover {
  color: white;
}
.nav-link.active {
  background-color: #95c9d6;
  color: white;
  transition: 0.5s;
}

#btn:hover {
  background-color: white !important;
  color: #95c9d6 !important;
  transition: 0.1s;
}
#btn:focus {
  background-color: #95c9d6 !important;
  color: white !important;
  outline: none;
}
#home {
  display: none;
}

.area {
  padding-left: 20px;
  color: #212529;
  font-size: 22px;
  text-align: left;
  position: relative;
}
.fundo1,
.fundo2,
.fundo3,
.fundo4,
.fundo5,
.fundo6,
.fundo7,
.fundo8 {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin: 0px 0px 30px 0px;
  height: 35px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000;
}

.progresso1 {
  width: 73%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;

  animation: prog1 4s;
  /*IE */
  -webkit-animation: prog1 4s;
  /* Safari and Chrome */
  -moz-animation: prog1 4s;
  /* Firefox */
  -o-animation: prog1 4s;
  /*Opera*/
}

@keyframes prog1 {
  from {
    width: 1%;
  }
  to {
    width: 73%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog1 {
  from {
    width: 1%;
  }
  to {
    width: 73%;
  }
}

/*Firefox*/

/*Opera*/

/* HTML5 Block */

.progresso2 {
  animation: prog2 5s;
  /*IE */
  -webkit-animation: prog2 5s;
  /* Safari and Chrome */
  -moz-animation: prog2 5s;
  /* Firefox */
  -o-animation: prog2 5s;
  /*Opera*/
  width: 69%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/*IE */

@keyframes prog2 {
  from {
    width: 1%;
  }
  to {
    width: 69%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog2 {
  from {
    width: 1%;
  }
  to {
    width: 69%;
  }
}

.progresso3 {
  animation: prog3 5s;
  /* IE */
  -webkit-animation: prog3 5s;
  /* Safari and Chrome */
  -moz-animation: prog3 5s;
  /* Firefox */
  -o-animation: prog3 5s;
  /* Opera */
  width: 64%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog3 {
  from {
    width: 1%;
  }
  to {
    width: 64%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog3 {
  from {
    width: 1%;
  }
  to {
    width: 64%;
  }
}

.progresso4 {
  animation: prog4 4s;
  /*IE */
  -webkit-animation: prog4 4s;
  /* Firefox */
  -moz-animation: prog4 4s;
  /* Safari and Chrome */
  -o-animation: prog4 4s;
  /*Opera*/
  width: 53%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog4 {
  from {
    width: 1%;
  }
  to {
    width: 53%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog4 {
  from {
    width: 1%;
  }
  to {
    width: 53%;
  }
}

.progresso5 {
  animation: prog5 4s;
  /*IE */
  -webkit-animation: prog5 4s;
  /* Firefox */
  -moz-animation: prog5 4s;
  /* Safari and Chrome */
  -o-animation: prog5 4s;
  /*Opera*/
  width: 33%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog5 {
  from {
    width: 1%;
  }
  to {
    width: 33%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog5 {
  from {
    width: 1%;
  }
  to {
    width: 33%;
  }
}

.progresso6 {
  animation: prog6 4s;
  /*IE */
  -webkit-animation: prog6 4s;
  /* Safari and Chrome */
  -moz-animation: prog6 4s;
  /* Firefox */
  -o-animation: prog6 4s;
  /*Opera*/
  width: 35%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog6 {
  from {
    width: 1%;
  }
  to {
    width: 35%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog6 {
  from {
    width: 1%;
  }
  to {
    width: 35%;
  }
}

.progresso7 {
  animation: prog7 4s;
  /*IE */
  -webkit-animation: prog7 4s;
  /* Safari and Chrome */
  -moz-animation: prog7 4s;
  /* Firefox */
  -o-animation: prog7 4s;
  /*Opera*/
  width: 37%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog7 {
  from {
    width: 1%;
  }
  to {
    width: 37%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog7 {
  from {
    width: 1%;
  }
  to {
    width: 37%;
  }
}
.progresso8 {
  animation: prog8 4s;
  /*IE */
  -webkit-animation: prog8 4s;
  /* Safari and Chrome */
  -moz-animation: prog8 4s;
  /* Firefox */
  -o-animation: prog8 4s;
  /*Opera*/
  width: 17%;
  height: 35px;
  background-color: #95c9d6;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 0px 0px 3px #000, 0px 0px 5px #000, 0px 0px 8px #000,
    0px 0px 25px #000, 0px 0px 35px #000, 0px 0px 35px #000;
}

/* IE */

@keyframes prog8 {
  from {
    width: 1%;
  }
  to {
    width: 17%;
  }
}

/* Safari and Chrome */

@-webkit-keyframes prog8 {
  from {
    width: 1%;
  }
  to {
    width: 17%;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background: url(desk1.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    
  }
  #container1 {
    width: 90%;
  }
  #container2 {
    width: 90%;
    font-size: 16px;
    padding: 15px 1px 1px 1px;
  }
  #container2 h1 {
    font-size: 40px;
  }
  #container3 {
    width: 90%;
    font-size: 16px;
    padding: 15px 1px 1px 1px;
  }
  #container3 h1 {
    font-size: 30px;
    text-align: center;
  }
  #container4 {
    width: 100%;
    padding-bottom: 5px;
  }
  #container4 h1 {
    font-size: 40px;
  }

  #container5 {
    width: 90%;
  }
  #container5 h1 {
    font-size: 40px;
    text-align: center;
  }
  #ime {
    padding-top: 10px;
  }
  #prof-pic {
    position: relative;
    float: none;
  }
  #ime h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 25px;
    letter-spacing: 1px;
  }
  #ime h2 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  #work {
    position: relative;
    margin: 10px 10px 50px 10px;
  }
  #work p {
    margin: auto;
    margin-top: 15px;
    font-size: 12px;
    font-weight: normal;
  }
  #social {
    position: relative;
    margin: auto;
    font-size: 75px;
  }
  #social1 p {
    position: relative;
    margin: auto;
    font-size: 12px;
    width: 200px;
    margin-bottom: 35px;
  }
  #social2 {
    position: relative;
    margin: auto;
    padding-top: 5px;
    margin-top: 20px;
    font-size: 40px;
    height: 70px;
    width: 200px;
  }
  #social2 p {
    position: relative;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
    width: 200px;
  }
  #social3 {
    position: relative;
    margin: 10px;

    font-size: 50px;
  }
  #home {
    display: block;
  }
  #navb {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .nav-link.active {
    background-color: #95c9d6e1;
  }
  .navbar-brand {
    font-size: 14px;
    font-weight: normal;
    margin-left: -11px;
  }
  .progress-bar {
    padding-left: 8px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background: url(desk2.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    
  }
}

#tooltip {
  position: relative;
  display: inline-block;
}

#tooltip .tooltiptext {
  font-family: "Montserrat";
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}
